.container{
    box-sizing: border-box;
    padding:10px;
    width:100%;
}
.container input{
    padding:7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(238, 234, 234);

    border:none;
    outline:none;
    border-bottom:1px solid black;
    transition:0.5s;
}
.container input:focus{
    background-color:rgb(211, 206, 206);
}